<section class="flexDown dataViewContainer">
    <input type="text" placeholder="Search" ng-model="vm.misc.searchTxt"></input>
    <section class="tableContainer">
        <table>
            <tr>
                <th>
                	<span class="clickable">First Name</span>
                	<i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('eyeColor', true)"></i>
                	<i class="ion-arrow-down-b clickable"></i>
                </th>
                <th>
                	<span class="clickable">Last Name</span>
                	<i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('eyeColor', true)"></i>
                	<i class="ion-arrow-down-b clickable"></i>
                </th>
                <th>
                	<span class="clickable">Company Name</span>
                	<i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('eyeColor', true)"></i>
                	<i class="ion-arrow-down-b clickable"></i>
                </th>
                <th>
                	<span class="clickable">Email Address</span>
                	<i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('eyeColor', true)"></i>
                	<i class="ion-arrow-down-b clickable"></i>
                </th>
                <th>
                	<span class="clickable">Eye Colour</span>
                	<i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('eyeColor', true)"></i>
                	<i class="ion-arrow-down-b clickable"></i>
                </th>
                <th>
                	<span class="clickable">Is Active</span>
                	<i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('eyeColor', true)"></i>
                	<i class="ion-arrow-down-b clickable"></i>
                </th>
                <th>
                	<span class="clickable">Primary Phone Number</span>
                	<i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('eyeColor', true)"></i>
                	<i class="ion-arrow-down-b clickable"></i>
                </th>
            </tr>
            <tr ng-repeat="item in vm.data | filter:vm.misc.searchTxt" ng-class="{'isNotActive': !item.isActive, 'isActive': item.isActive}">
                <td>{{item.name.first}}</td>
                <td>{{item.name.last}}</td>
                <td>{{item.company}}</td>
                <td>{{item.email}}</td>
                <td>{{item.eyeColor}}</td>
                <td>{{item.isActive}}</td>
                <td>{{item.mainphone}}</td>
            </tr>
        </table>
    </section>
</section>