<section class="flexDown dataViewContainer">
    <section class="topContainer flowAcross">
        <md-input-container class="flexExpand inputContainer">
            <label>Search Records</label>
            <input type="text" ng-model="vm.misc.searchTxt" class="flexExpand"></input>
        </md-input-container>
        <md-button class="md-raised md-primary resetSortBtn" ng-click="vm.resetTable()">Reset Table</md-button>
        <md-button class="md-raised md-warn loadDataBtn" ng-click="vm.loadData()" ng-hide="vm.misc.errorLoadingData">Reload Data</md-button>
    </section>
    <section class="tableContainer" ng-show="vm.data.length > 0">
        <table>
            <tr>
                <th>
                    <span class="clickable" ng-click="vm.groupBy('firstName')">First Name</span>
                    <i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('firstName', false)"></i>
                    <i class="ion-arrow-down-b clickable" ng-click="vm.sortBy('firstName', true)"></i>
                </th>
                <th>
                    <span class="clickable" ng-click="vm.groupBy('lastName')">Last Name</span>
                    <i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('lastName', false)"></i>
                    <i class="ion-arrow-down-b clickable" ng-click="vm.sortBy('lastName', true)"></i>
                </th>
                <th>
                    <span class="clickable" ng-click="vm.groupBy('companyName')">Company Name</span>
                    <i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('companyName', false)"></i>
                    <i class="ion-arrow-down-b clickable" ng-click="vm.sortBy('companyName', true)"></i>
                </th>
                <th>
                    <span class="clickable" ng-click="vm.groupBy('emailAddress')">Email Address</span>
                    <i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('emailAddress', false)"></i>
                    <i class="ion-arrow-down-b clickable" ng-click="vm.sortBy('emailAddress', true)"></i>
                </th>
                <th>
                    <span class="clickable" ng-click="vm.groupBy('eyeColor')">Eye Colour</span>
                    <i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('eyeColor', false)"></i>
                    <i class="ion-arrow-down-b clickable" ng-click="vm.sortBy('eyeColor', true)"></i>
                </th>
                <th>
                    <span class="clickable" ng-click="vm.groupBy('isActive')">Is Active</span>
                    <i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('isActive', false)"></i>
                    <i class="ion-arrow-down-b clickable" ng-click="vm.sortBy('isActive', true)"></i>
                </th>
                <th>
                    <span class="clickable" ng-click="vm.groupBy('phoneNumber')">Primary Phone Number</span>
                    <i class="ion-arrow-up-b clickable" ng-click="vm.sortBy('phoneNumber', false)"></i>
                    <i class="ion-arrow-down-b clickable" ng-click="vm.sortBy('phoneNumber', true)"></i>
                </th>
            </tr>
            <tr ng-repeat="item in vm.data | filter:vm.misc.searchTxt | orderBy:vm.misc.orderVal:vm.misc.isReversed" class="clickable dataRow" ng-class="{'isNotActive': !item.isActive, 'isActive': item.isActive}" ng-click="vm.showDetails($index)">
                <td>{{item.name.first}}</td>
                <td>{{item.name.last}}</td>
                <td>{{item.company}}</td>
                <td>{{item.email}}</td>
                <td>{{item.eyeColor}}</td>
                <td>{{item.isActive}}</td>
                <td>{{item.mainphone}}</td>
            </tr>
        </table>
    </section>
    <section id="loadingContainer" ng-hide="vm.data.length > 0"></section>
    <section class="errorLoadingDataContainer" ng-show="vm.misc.errorLoadingData">
        <md-button class="md-raised md-warn loadDataBtn" ng-click="vm.loadData()">Reload Data</md-button>
    </section>
</section>