.dataViewContainer {
	padding: 1em;
	.topContainer {
		padding: 1em;
		.inputContainer {
	    	margin: 0 1.5em 0 0;
	    	input {
				font-size: 1.5em;
		    	padding: 0 0.2em;
			}
			input:not(:focus) {
				border-color: #000000;
			}
		}
		.resetSortBtn {
			margin: auto;
			height: 100%;
		}
		.md-errors-spacer {
			min-height: 0;
		}
	}
	.tableContainer {
		margin: 1em 0 0 0;
		table {
			width: 100%;
			border: 1px solid #000000;
		    border-collapse: collapse;
		}
		th {
			background-color: #CCCCCC;
			border: 1px solid #000000;
		    border-collapse: collapse;
		}
		td {
		    border: 1px solid #000000;
		    border-collapse: collapse;
		}
		.dataRow {
			td {
				padding: 0.4em 0.5em;
			}
			&:hover {
				background-color: #FFFF00;
			}
		}
		.isActive {
			background-color: #B2FFB2;
		}
		.isNotActive {
			background-color: #FFB2B2;
		}
	}
}