.dataViewContainer {
	padding: 1em;
	.topContainer {
		input {
			font-size: 1.5em;
	    	padding: 0 0.2em;
		}
		button {
			margin-left: 1em;
		}
	}
	.tableContainer {
		margin: 1em 0 0 0;
		table {
			width: 100%;
			border: 1px solid #000000;
		    border-collapse: collapse;
		}
		th {
			background-color: #CCCCCC;
			border: 1px solid #000000;
		    border-collapse: collapse;
		}
		td {
		    border: 1px solid #000000;
		    border-collapse: collapse;
		}
		.dataRow {
			td {
				padding: 0.4em 0.5em;
			}
			&:hover {
				background-color: #FFFF00;
			}
		}
		.isActive {
			background-color: #B2FFB2;
		}
		.isNotActive {
			background-color: #FFB2B2;
		}
	}
}